/* Famous Campuses */
.header-campus{
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 80px;
}

.header-campus-col{
  flex-basis: 20%;
  border-radius: 20px;
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;
  object-fit: fill;
}

.header-campus-col img{
  width: 85%;
  display: block;
  object-fit: fill;
  
}

.header-campus-col .layer{
  background: transparent;
  height: 100%;
  width: 85%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.header-campus-col.layer:hover{
  background: rgba(226, 0, 0, 0.7);
  cursor: pointer;
}

.header-campus-col.layer .h3{
  width: 100%;
  font-weight: 80%;
  color: #fff;
  font-size: 15px;
  bottom: 0;
  left: 50%; 
  transform: translateX(-50%);
  position: absolute;
  opacity: 0; 
  transition: 0.5s;
}

.header-campus-col.layer:hover h3{
  bottom: 49%;
  opacity: 1;
}

.row-location{
  margin-left: 40px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}


.header-campus-col-location {
  border: none;
  color: #ffffff !important;
  font-weight: 200;
  padding: 5px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  }

.header-campus-col-location:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}

