/* For Search Bar */
.text-box {
  margin-top: 170px;
  width: 90%;
  color: #fff;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1{
  font-size: 62px;
}

.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}


.box{   
  margin: auto;
  height: 50px;
  width: 580px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background: #fff1f1;
  border-radius: 15px;
  align-items: center;
  transition: 0.5s;
}

.box:hover{
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}


.box input{
  width: 750px;
  border: none;
  outline: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
  
}

.box a .fas{
  color: #D8A25E;
  font-size: 18px;
}
